* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 


.logo img {
  width: 100px ;
  height: 100px;
  margin-left: 20px ;
  background-color: white;
  border-radius: 50%;

    
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h1{

  font-size: 1.5rem;
}

.contenedor_notas {
  display: flex;
  background-color: #8bdb56;
  flex-wrap: wrap;
}

.encabezado{
  display: flex;
  justify-content: space-between;
  background-color: #8bdb56;
  width: 100%;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8bdb56;
  padding: 10px 20px;
  gap: 5px;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  margin: 0 15px;
}

.nav ul li img {
  width: 35px;
  height: 35px;
}

.contenido{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenido h1{
    font-size: 2rem;
    text-align:center ;
    margin-top: 20px;

}

.contenido img{
    width: 900px;
    height: 650px;

}

.examen{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 100%;

}

.formulario{
  flex: 1;
  background-color: white;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
}

.formulario img{
  width: 70px;
  height: 70px;
  align-content: center;
  justify-content: center;
  margin: 10px;

}
.degrade{
  width: 50%;
  height: 100%;
  background: linear-gradient(0.25turn, #8cdb56, #6dbc49, #5aa739, #498e2e, #3b7c1d); /*la paleta de colores de este degradado esta en la carpeta images*/ 
  padding: 50px;
  flex-wrap: wrap;

}

.degrade h2{
  font-size: 2rem;
  text-align: justify;
  margin-top: 160px;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 250px;
  height: 100px;
  margin-right: 45%;
}
.degrade p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    width: 40%;
    margin-right: 30%;
    text-align: left;
}


.formulario label {
  font-weight: 600;
  display: block;
  font-size: 1rem; 
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.furmulario input {
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
  align-content:center ;


}

.formulario button{
  background-color: #8bdb56;
  color: white;
  border: none;
  padding: 7.5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.formulario h2{
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
